<style>


    form{
        background-color:rgb(177, 22, 177);
        font-size:18px;
        border-radius:8px;
        height:400px;
        margin: 0 auto;}
       
    p {
        font-family: 'Courier New', Courier, monospace;
        color:white;
    }

    button { border-radius: 8px;
            width: 80px;
            height: 30px;
            margin-top: 10px;
    }

    button:hover{
        background-color:rgb(32, 133, 216);
    }

    input {
        width:280px;
        height: 20px;
    }

    textarea {
        width:280px;
        height: 50px;
    }

</style>

<form action="/add" method="POST">

    <p>Titulo: </p>
    <input type="text" name="titulo">

    <p>Conteudo: </p>
    <textarea name="conteudo"></textarea>
    <br>

    <button type="submit">Postar!</button>

</form>